* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 100px;
}

.top__avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top__avatar--img {
  width: 80px;
  height: 80px;
}

li {
  display: inline;
}

.content__menu--nav {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.top__nav--item{
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.top__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__search--input {
  height: 20px;
  border-radius: 20px;
  outline: none;
}

.top__search {
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
}

.top__nav {
  display: inline;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: right;
}

.top__avatar--signup {
  border-radius: 20px;
}

.top__avatar--login {
  border-radius: 20px;
}

.content__menu {
  display: block;
  padding: 10px;

}

.content {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 3000px;
}

.content--left{
  background-color: #282a35;
}

.footer {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 500px;
}

.content__mid{
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content__learn--title{
  font-size: 70px;
  color: white;
}

.p{
  padding-top: 20px;
  color: yellow;
  font-size: 25px;
}

.content__search{
  padding-top: 30px;
  padding-bottom: 30px;
}

.content__search--input{
  border-radius: 20px;
  width: 27%;
  height: 40px;
  font-style: italic;
  padding: 5px 0px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: url(./public/img/magnifying-glass.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 350px;
}

.content__notsure--link{
  font-size: 20px;
  color: white;
}

.content__right{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #D9EEE1;
}

.content__right--a{
  text-align: center;
  display: block;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.content__letters{
  font-size: 60px;
}

.content__links{
  padding: 15px;
}

.content__thelanguage{
  padding: 15px;
  font-size: 20px;
}

.content__links--html{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__links--video{
  background-color: #FFF4A3;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__links--reference{
  background-color: #282A35;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 160px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__links--certified{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 160px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__links--css{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__right--code{
  padding: 20px 30px;
}

.content__right--example{
  background-color: #E7E9EB;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 50px;
}

.content__right--titleExample{
  margin-bottom: 16px;
}

.content__right--code{
  background-color: white;
  border-left: 4px solid #04AA6D;
  margin-bottom: 16px;
}

.content__right--tagdoctype{
  color: #708090;
}

.content__right--taghtml{
  color: #990055;
}

.content__right--titlename{
  color: #990055;
}

.content__right--tagtitlep{
  color: #990055;
}

.content__right--taghead{
  color: #990055;
}

.content__right--tagbody{
  color: #990055;
}

.content__rightt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #FFF4A3;
}

.content__righttt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #282A35;
}

.content__right--learntryit{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__right--bodycolor{
  color: #990055;
}

.content__right--delimitercolor{
  color: #999999;
}

.content__right--propertycolor{
  color: #D73A49;
}

.content__right--propertyvaluecolor{
  color: #005CC5;
}

.content__letters--java{
  font-size: 60px;
  color: white;
}

.content__thelanguagejava{
  color: white;
  padding: 15px;
  font-size: 20px;
}

.content__right--learnjava{
  background-color: #04AA6D;
  color: white;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__right--referencejava{
  background-color: #FFFFFF;
  color: black;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 210px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__right--certifiedjava{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.content__right--tagcolor{
  color: #999999;
}

.content__right--buttoncolor{
  color: #990055;
}

.content__right--onclickcolor{
  color: #008000;
}

.content__right--myfunctioncolor{
  color: #005CC5;
}

.content__right--scriptcolor{
  color: #990055;
}

.let--color{
  color: #005CC5;
}

.content__right--democolor{
  color: #008000;
}

.content__right--java{
  padding-left: 20px;
}

.bottom{
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 500px;
  background-color: #000000;
}

.bottom__boder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  gap: 60px;
  color: white;
}

.bottom__border--all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 160px;
  color: white;

}

.bottom__border--toptutorial{
  padding-top: 30px;
}



