body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  width: 90%;
  height: 300px;
  gap: 20px;
}

.top__avatar {
  border: 1px solid black;
  width: 30%;
  height: 250px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.top__profile--avatar{
  width: 405px;
  height: 250px;
}

.top__info {
  border: 1px solid black;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.top__info--name {
  border: 1px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.top__info--title {
  font-size: 50px;
}

.top__info--name {
  border: 1px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.top__info--age {
  border: 1px solid black;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content {
  border: 1px solid black;
  width: 90%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.column__right {
  border: 1px solid black;
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.column__left {
  border: 1px solid black;
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.column__card--right {
  border: 1px solid black;
  width: 50%;
  height: 100px;
}

.column__card--left {
  border: 1px solid black;
  width: 50%;
  height: 100px;
}

.bottom {
  border: 1px solid black;
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.bottom__a {
  border: 1px solid black;
  width: 30%;
  height: 200px;
}
