* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 100px;
}
.top-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top--avatar--img {
  width: 80px;
  height: 80px;
}
li {
  display: inline;
}
.menu--nav {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.menu--nav--top{
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.top--items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top--avatar--input {
  height: 20px;
  border-radius: 20px;
  outline: none;
}
.top--search {
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
}
.top--nav {
  display: inline;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: right;
}
.top--avatar--signup {
  border-radius: 20px;
}
.top--avatar--login {
  border-radius: 20px;
}
.top--menu {
  display: block;
  padding: 10px;

}
.content {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 3000px;
}
.content--left{
  background-color: #282a35;

}
.footer {
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 500px;
}
.content--mid--a{
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.learn{
  font-size: 70px;
  color: white;
}
.p{
  padding-top: 20px;
  color: yellow;
  font-size: 25px;
}
.content--mid--input{
  padding-top: 30px;
  padding-bottom: 30px;
}
.input{
  border-radius: 20px;
  width: 27%;
  height: 40px;
  font-style: italic;
  padding: 5px 0px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: url(./public/img/magnifying-glass.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 350px;
}
.notsure{
  font-size: 20px;
  color: white;
}
.content--right{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #D9EEE1;
}
.content--right--a{
  text-align: center;
  display: block;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
.chuhtml{
  font-size: 60px;
}
.html{
  padding: 15px;
}
.thelanguage{
  padding: 15px;
  font-size: 20px;
}
.learn--html{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.video{
  background-color: #FFF4A3;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.reference{
  background-color: #282A35;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 160px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.certified{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 160px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.code{
  padding: 20px 30px;
}
.content--right--b{
  background-color: #E7E9EB;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 50px;
}
.example{
  margin-bottom: 16px;
}
.code{
  background-color: white;
  border-left: 4px solid #04AA6D;
  margin-bottom: 16px;

}
.doctypehtml{
  color: #708090;
}
.htmll{
  color: #990055;
}
.titlename{
  color: #990055;
}
.titlep{
  color: #990055;
}
.head{
  color: #990055;
}
.bodyy{
  color: #990055;
}
.content--rightt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #FFF4A3;
}
.content--righttt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #282A35;
}
.learn--tryit{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  width: 150px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}

.cssbody--color{
  color: #990055;
}
.cssdelimiter--color{
  color: #999999;
}
.cssproperty--color{
  color: #D73A49;
}
.csspropertyvalue--color{
  color: #005CC5;
}
.javascript{
  font-size: 60px;
  color: white;
}
.thelanguagejava{
  color: white;
  padding: 15px;
  font-size: 20px;
}
.learn--java{
  background-color: #04AA6D;
  color: white;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.reference--java{
  background-color: #FFFFFF;
  color: black;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 210px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.certified--java{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px 16px;
}
.tag--color{
  color: #999999;
}
.button--color{
  color: #990055;
}
.onclick--color{
  color: #008000;
}
.myfunction--color{
  color: #005CC5;
}
.script--color{
  color: #990055;
}
.let--color{
  color: #005CC5;
}
.demo--color{
  color: #008000;
}
.java{
  padding-left: 20px;
}
.bottom{
  margin: 20px;
  border: 1px solid black;
  width: 98%;
  height: 500px;
  background-color: #000000;

}
.bottom-boder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  gap: 60px;
  color: white;
  
}
.bottom--all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 160px;
  color: white;

}
.toptutorial{
  padding-top: 30px;
}



